<nav class="navbar navbar-light" style="background-color: #ABB2B9;" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#"><span class="fui-flat"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <a class="navbar-brand" href="#">
            <!--<b>Rejuvenate</b>-->
            <!--<img src="src/img/rejuvenate.jpeg"/>
            --><img src="src/img/rejuvenate_latest.png" class="img-rounded">
        </a>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->


<div >
    <h3 align="center"><mark class="bg-success">Stressed</mark></h3>

    <div class="row">

        <div class="col-xs-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Quotes</h4>
                </div>
                <div class="panel-body fixed-panel" >
                    <blockquote>
                     <p>
                         "In times of stress, the best thing we can do for each other is to listen with our ears and our hearts and to be assured that our questions are just as important as our answers."
                       </p>
                                              <footer>Fred "Mister" Rogers</footer>
                    </blockquote>

                    <div id='toolbar'>
                        <div class='wrapper text-center'>

                        <div class="btn-group">
                        <button class="btn">
                            <a class="btn btn-default glyphicon glyphicon-thumbs-up"> 545</a>
                        </button>
                        <button class="btn">
                            <a class="btn btn-default glyphicon glyphicon glyphicon-eye-open"> 1133</a>
                        </button>
                        </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Blog</h4>
                </div>
                <div class="panel-body fixed-panel">
                    <div class="thumbnail">
                        <img src="https://cdn-images-1.medium.com/max/800/1*rsnkdN9SNpMPOJ3bMUu0qA.jpeg" alt="Reducce Stress">
                        <div class="caption">
                            <p>12 Mindfulness Hacks That Will Kill Your Stress</p>
                            <p><a href="https://readthink.com/12-mindfulness-hacks-that-will-kill-your-stress-2bcda9376bb6#.ge3hx8ffe" class="btn btn-primary center-block" role="button">Read Blog</a></p>
                        </div>


                        <div id='toolbar'>
                            <div class='wrapper text-center'>

                                <div class="btn-group">
                                    <button class="btn">
                                        <a class="btn btn-default glyphicon glyphicon-thumbs-up"> 1435</a>
                                    </button>
                                    <button class="btn">
                                        <a class="btn btn-default glyphicon glyphicon glyphicon-eye-open"> 2148</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-4">
            <!--<a href="#" class="thumbnail"> &lt;!&ndash; class thumbnail , no 3 &ndash;&gt;
                <img src="src/img/SaveLife.jpg" alt="coach thumbnail">
            </a>-->
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h4 class="text-center">Video</h4>
                </div>

                <div class="panel-body fixed-panel">

                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="//www.youtube.com/embed/3I7qR4NO8Ag" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

                <div id='toolbar'>
                    <div class='wrapper text-center'>

                        <div class="btn-group">
                            <button class="btn">
                                <a class="btn btn-default glyphicon glyphicon-thumbs-up"> 5596</a>
                            </button>
                            <button class="btn">
                                <a class="btn btn-default glyphicon glyphicon glyphicon-eye-open"> 14821</a>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>

    </div>

</div>

<div >

    <h3 align="center"><mark class="bg-success">Depressed</mark></h3>


    <div class="row">

        <div class="col-xs-12 col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Quotes</h4>
                </div>
                <div class="panel-body fixed-panel" >
                    <blockquote>
                        <p>
                            "Getting better from depression demands a lifelong commitment. I've made that commitment for my life's sake and for the sake of those who love me."
                        </p>
                        <footer>Susan Polis Schutz</footer>
                    </blockquote>

                    <div id='toolbar'>
                        <div class='wrapper text-center'>

                            <div class="btn-group">
                                <button class="btn">
                                    <a class="btn btn-default glyphicon glyphicon-thumbs-up"> 394</a>
                                </button>
                                <button class="btn">
                                    <a class="btn btn-default glyphicon glyphicon glyphicon-eye-open"> 893</a>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">Blog</h4>
                </div>
                <div class="panel-body fixed-panel">
                    <div class="thumbnail">
                        <img src="https://cdn-images-1.medium.com/max/600/1*NQyvR5CxWGxK-spLHHUK9w.jpeg" alt="Reducce Depression">
                        <div class="caption">
                            <p>How 30 Days of Yoga Prevents Depression, Inspires Progression</p>
                            <p><a href="https://byrslf.co/how-30-days-of-yoga-prevents-depression-inspires-progression-80988068ef94#.93en2r2bp" class="btn btn-primary center-block" role="button">Read Blog</a></p>
                        </div>

                        <div id='toolbar'>
                            <div class='wrapper text-center'>

                                <div class="btn-group">
                                    <button class="btn">
                                        <a class="btn btn-default glyphicon glyphicon-thumbs-up"> 982</a>
                                    </button>
                                    <button class="btn">
                                        <a class="btn btn-default glyphicon glyphicon glyphicon-eye-open"> 5834</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-4">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h4 class="text-center">Video</h4>
                </div>

                <div class="panel-body fixed-panel">

                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="//www.youtube.com/embed/kYX87kkyubk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div id='toolbar'>
                    <div class='wrapper text-center'>

                        <div class="btn-group">
                            <button class="btn">
                                <a class="btn btn-default glyphicon glyphicon-thumbs-up"> 3966</a>
                            </button>
                            <button class="btn">
                                <a class="btn btn-default glyphicon glyphicon glyphicon-eye-open"> 8421</a>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>

    </div>


</div>



