<!--<h2>Step1 content</h2>-->
<br/>
<br/>
<div class="form-group">
    <!--<label>Email</label>
    <input type="email" class="form-control" name="email" ng-model="vm.user.email" required />
    -->
    <!--

       <div ng-repeat="whyOption in  vm.user.mood.whyOptions">
           <div class="checkbox">
               <label><input type="checkbox" ng-model="vm.user.mood.depressed" value="depressed">Depressed</label>
           </div>
       </div>

    -->

<!--
    <div ng-repeat="reasonSelection in  reasonSelections">
        <input
            type="checkbox"
            name="reasonSelectionOptions[]"
            value="{{reasonSelection}}"
            ng-checked="reasonSelections.indexOf(whyOption) > -1"
            ng-click="toggleReasonSelection(reasonSelection)"
        > {{reasonSelection}}
    </div>


-->

  <div ng-repeat="reasonSelection in reasonSelections">
        <input
            type="radio"
            name="reasonSelectionOptions[]"
            value="{{reasonSelection.id}}"
            ng-model="vm.user.reasonSelection"
        > {{reasonSelection.feeling| uppercase}}
    </div>

   <!-- <div ng-repeat="reasonSelections in vm.user.reasonSelections">
        <input
            type="radio"
            name="selectedOptions[]"
            value="{{reasonSelections.id}}"
            ng-model="vm.user.reasonSelectionswhyOptionSelection"
        > {{whyOption.feeling}}
    </div>-->



    <!-- <div class="checkbox">
         <label><input type="checkbox" ng-model="vm.user.mood.depressed" value="depressed">Depressed</label>
     </div>
     <br/>

     <div class="checkbox">
         <label><input type="checkbox" ng-model="vm.user.mood.stressed"  value="stressed">Stressed</label>
     </div>
     <br/>

     <div class="checkbox disabled">
         <label><input type="checkbox" ng-model="vm.user.mood.other" value="other" disabled>Other mood</label>
     </div>-->
</div>
