<!--<h2>Step1 content</h2>-->

<br/>
<br/>

<div class="form-group">

    <div ng-repeat="mood in moods">
        <div class="radio">
            <label><input name="radioGroup" type="radio" ng-model="vm.user.mood" value="{{mood.id}}">{{mood.feeling}}</label>
        </div>
    </div>


    <!--<div class="radio">
        <label><input name="radioGroup" type="radio" ng-model="vm.user.mood.depressed" value="depressed">Depressed</label>
    </div>

    <br/>
    <div class="radio">
        <label><input name="radioGroup" type="radio" ng-model="vm.user.mood.stressed"  value="stressed">Stressed</label>
    </div>
-->


</div>
